<%- model_class = Candidate -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:vote_yes) %></th>
      <th><%= model_class.human_attribute_name(:vote_no) %></th>
      <th><%= model_class.human_attribute_name(:vote_total) %></th>
      <th><%= model_class.human_attribute_name(:candidate_hash) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= link_to candidate.id, candidate_path(candidate) %></td>
        <td><%= candidate.title %></td>
        <td><%= candidate.vote_yes %></td>
        <td><%= candidate.vote_no %></td>
        <td><%= candidate.vote_total %></td>
        <td><%= candidate.candidate_hash %></td>
        <td><%=l candidate.created_at %></td>
        <td>
          <%= link_to 'Vote No', (root_url + "votes/make_vote/" + url_encode(candidate.title) + "/no"), :class => 'btn btn-mini' %>
          <%= link_to 'Vote Yes', (root_url + "votes/make_vote/" + url_encode( candidate.title ) + "/yes"), :class => 'btn btn-mini' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_candidate_path(candidate), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      candidate_path(candidate),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
    <tr>
	    <td>New Issue: <input id="newIssue" type="text" placeholder="Input new issue here" /></td>
	    <td>
	    	<a class="btn btn-mini" href="javascript:void(0);" onClick="window.location.href = '<%= root_url%>votes/make_vote/' + document.getElementById('newIssue').value + '/no';">Vote No</a>
	    	<a class="btn btn-mini" href="javascript:void(0);" onClick="window.location.href = '<%= root_url%>votes/make_vote/' + document.getElementById('newIssue').value + '/yes';">Vote Yes</a>
        </td>
    </tr>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_candidate_path,
            :class => 'btn btn-primary' %>
