
<%= stylesheet_link_tag "votes", :media => "all" %>

<h1><%= @candidate.title  %></h1>
<div id="button">
	<a class="btn btn-mini" id="yes" href="javascript:void(0);" > </a>
	<a class="btn btn-mini" id="no" href="javascript:void(0);"> </a>
</div>

<script type=text/javascript>
	document.getElementById("yes").addEventListener('click', function() {
		window.open('<%= url_for( :controller => :candidates, :action => 'form' ) %>', 'form', 'height=600, width=800, top=100, left=100, toolbar=no, menubar=no, scrollbars=no,resizable=no,location=no, status=no');
		window.location.href = '<%= root_url%>votes/make_vote/<%= @candidate.title  %>/yes';
	});
	
	document.getElementById("no").addEventListener('click', function() {
		window.open('<%= url_for( :controller => :candidates, :action => 'form' ) %>', 'form', 'height=600, width=800, top=100, left=100, toolbar=no, menubar=no, scrollbars=no,resizable=no,location=no, status=no');
		window.location.href = '<%= root_url%>votes/make_vote/<%= @candidate.title  %>/no';

	});

</script>